<h1>New User</h1>

<!--<%= render 'form', user: @user %>-->
<%= form_tag("/users/new",:method => :post) do =%>
	<% if @user.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	name:<input name="name">
	<br>
	email:<input type="email "name="email">
	<br>
	password:<input type="password" name="password">
	<br>
	<input type="submit" value="登録">
<% end %>

<%= link_to("login","/login") %>
<!--<%= link_to 'Back', users_path %>-->
