<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


<%= link_to("Index","/books") %> | 
<% if @user.id == @current_user.id %>
	<%= link_to("Edit","/users/#{@user.id}/edit") %>
<% end %>
